.btn
  display: inline-block
  border: 0.1rem solid var(--color-accent)
  color: var(--color-accent)
  text-transform: uppercase
  transition: all 0.3s
  cursor: pointer

  &:hover
    background-color: var(--color-accent-300)
  &:focus-visible
    background-color: var(--color-accent)
    color: var(--color-white)

  @media (min-width: 576px)
    padding: 1rem 6.5rem
    font: normal 2rem/2.5rem var(--second-font)
  @media (max-width: 575px)
    padding: 1rem 3.5rem
    font: normal 1.6rem/2.1rem var(--second-font)
