.title
  position: relative
  &::before
    position: absolute
    display: block
    content: ""
    width: 5rem
    height: .1rem
    background-color: var(--color-accent)
    @media (min-width: 576px)
      bottom: 1.5rem
    @media (max-width: 575px)
      bottom: 1.2rem
  a
    display: flex
    align-items: baseline
    font: inherit
    color: var(--color-white)
    &::after
      content: " #"
      color: var(--color-white-700)
      font-weight: normal
      opacity: 0
    &:hover::after
      opacity: 1
    &:focus-visible::after
      color: var(--color-accent)
      opacity: 1
  span
    color: var(--color-accent)
    @media (min-width: 576px)
      font: normal 2.5rem/3rem var(--second-font)
    @media (max-width: 575px)
      font: normal 2rem/2.5rem var(--second-font)

.ltr
  padding-left: 6rem
  &::before
    left: 0
  a::after
    margin-left: 1rem
  span
    margin-right: 1rem

.rtl
  padding-right: 6rem
  text-align: right
  &::before
    right: 0
  a
    flex-direction: row-reverse
    &::after
      margin-right: 1rem
  span
    margin-left: 1rem
