.title
  position: relative
  color: var(--color-white)
  &::before
    position: absolute
    display: block
    content: ""
    width: 5rem
    height: .1rem
    background-color: var(--color-accent)
    @media (min-width: 576px)
      bottom: 1.5rem
    @media (max-width: 575px)
      bottom: 1.2rem
  &:hover a
    opacity: 1

  a
    margin: 0 1rem
    font: inherit
    font-weight: normal
    text-transform: uppercase
    color: var(--color-white-700)
    opacity: 0
    @media (min-width: 576px)
      font: bold 3.5rem/4rem var(--second-font)
    @media (max-width: 575px)
      font: bold 2.5rem/3rem var(--second-font)
    &:focus-visible
      color: var(--color-accent)
      opacity: 1

  h2
    display: inline-block

  span
    color: var(--color-accent)
    @media (min-width: 576px)
      font: normal 2.5rem/3rem var(--second-font)
    @media (max-width: 575px)
      font: normal 2rem/2.5rem var(--second-font)

.ltr
  padding-left: 6rem
  &::before
    left: 0

.rtl
  padding-right: 6rem
  text-align: right
  &::before
    right: 0
