.footer
  margin: 3rem 0
  &__inner
    display: flex
    flex-direction: column
    align-items: center
  &__author
    text-align: center
    color: var(--color-white-700) !important
    &:hover
      color: var(--color-white) !important
    @media (min-width: $middle-min)
      margin-bottom: .5rem
    @media (min-width: $extra-small-min)
      br
        display: none

  &__social
    @media (max-width: $middle-max)
      margin: 1rem 0
