.header
  &__inner
    position: relative
    display: flex
    flex-direction: column
    height: 100vh
    min-height: 60rem

  &__content
    margin: auto 0

  &__title
    margin-top: 1rem
    color: var(--color-white-700)
    strong
      display: block
      color: var(--color-white)

  &__subtitle
    color: var(--color-accent)

  &__description
    position: relative
    margin-top: 2rem
    color: var(--color-white-700)
    @media (min-width: $medium-min)
      max-width: 60rem
      padding-left: 2rem
    @media (max-width: $medium-max)
      padding-left: 1rem
    &::before
      position: absolute
      content: ""
      width: .1rem
      height: 100%
      top: 0
      left: 0
      background-color: var(--color-accent)

  &__btn
    margin-top: 4.5rem
