//---- Resolution
$extra-large-min: 1600px
$extra-large-max: 1599px

$large-min: 1200px
$large-max: 1199px

$middle-min: 1000px
$middle-max: 999px

$medium-min: 769px
$medium-max: 768px

$small-min: 576px
$small-max: 575px

$extra-small-min: 375px
$extra-small-max: 374px

//----
:root
  --main-font: "Roboto", sans-serif
  --second-font: "Silkscreen", monospace

  --color-accent: #b87eef
  --color-accent-300: #3d294f
  --color-black: #0a192f
  --color-white: #e0e0f8
  --color-white-700: #b1b4cc
