//---- Base
@import "./__reset", "./__variables"

//---- Components
@import "../../components/general/Navbar"
@import "../../components/general/Header"
@import "../../components/general/Footer"

//---- Base
@import "../../components/base/Button"
@import "../../components/base/Social"
@import "../../components/base/Card"
@import "../../components/base/CardSkeleton"

//---- Blocks
@import "../../components/blocks/About"
@import "../../components/blocks/Skills"
@import "../../components/blocks/Work"

html, body
  height: 100%
  font-family: var(--main-font)
html
  font-size: 62.5%
body
  display: flex
  flex-direction: column
  background-color: var(--color-black)

h1
  @media (min-width: $medium-min)
    font: bold 5.5rem/6rem var(--main-font)
  @media (max-width: $medium-max)
    font: bold 4rem/4.5rem var(--main-font)
h2
  text-transform: uppercase
  @media (min-width: $small-min)
    font: bold 3.5rem/4rem var(--second-font)
  @media (max-width: $small-max)
    font: bold 2.5rem/3rem var(--second-font)
h3
  font: bold 2.5rem/3rem var(--main-font)

p, li, a
  @media (min-width: $medium-min)
    font: normal 1.8rem/2.6rem var(--main-font)
  @media (max-width: $medium-max)
    font: normal 1.6rem/2.4rem var(--main-font)

.main-wrapper
  max-width: 110rem
  width: 100%
  margin: 1rem auto 3rem
  padding: 5rem 0
  background: linear-gradient(142deg, #0c1e38 0%, #30203d 100%)
  border-top: 1rem solid #b87eef

.inner
  max-width: 90rem
  margin-left: auto
  margin-right: auto
  @media (max-width: $extra-large-max) and (min-width: $extra-small-min)
    padding-left: 2rem
    padding-right: 2rem
  @media (max-width: $extra-small-max)
    padding-left: 1rem
    padding-right: 1rem

.section
  &-title
    position: relative
    &::before
      position: absolute
      display: block
      content: ""
      width: 5rem
      height: .1rem
      background-color: var(--color-accent)
      @media (min-width: $small-min)
        bottom: 1.5rem
      @media (max-width: $small-max)
        bottom: 1.2rem
    a
      display: flex
      align-items: baseline
      font: inherit
      color: var(--color-white)
      &::after
        content: " #"
        color: var(--color-white-700)
        font-weight: normal
        opacity: 0
      &:hover::after
        opacity: 1
      &:focus-visible::after
        color: var(--color-accent)
        opacity: 1
    span
      color: var(--color-accent)
      @media (min-width: $small-min)
        font: normal 2.5rem/3rem var(--second-font)
      @media (max-width: $small-max)
        font: normal 2rem/2.5rem var(--second-font)

  &-ltr
    .section-title
      padding-left: 6rem
      &::before
        left: 0
      a::after
        margin-left: 1rem
      span
        margin-right: 1rem

  &-rtl
    .section-title
      padding-right: 6rem
      text-align: right
      &::before
        right: 0
      a
        flex-direction: row-reverse
        &::after
          margin-right: 1rem
      span
        margin-left: 1rem

.inline-link
  display: inline-block
  padding: 0 .2rem
  border: .1rem solid transparent
  transition: all .3s
  &::after
    content: ""
    display: block
    width: 0
    height: .1rem
    position: relative
    bottom: .1rem
    transition: .3s
  &:hover:not(:focus-visible)::after
    width: 100%

  &:not(&--white)
    color: var(--color-accent)
    &::after
      background-color: var(--color-accent)
    &:focus-visible
      border: .1rem solid var(--color-accent)
      &:hover
        background-color: var(--color-accent)
        color: var(--color-black)

  &--white
    color: var(--color-white)
    &::after
      background-color: var(--color-white)
    &:focus-visible
      border: .1rem solid var(--color-white)
      &:hover
        background-color: var(--color-white)
        color: var(--color-black)
