.work
  @media (min-width: 1000px)
    margin-top: 8rem
    padding-top: 3rem
  @media (max-width: 999px)
    margin-top: 5rem
    padding-top: 1.5rem

.body
  display: flex
  flex-direction: column
  align-items: center
  @media (min-width: 769px)
    margin-top: 4rem
  @media (max-width: 768px)
    margin-top: 2rem

.title
  margin-top: 2rem
  font: bold 2.4rem var(--main-font)
  color: var(--color-white)

.projects
  width: 100%
  margin-top: 2rem
  @media (min-width: 769px)
    display: grid
    grid-template-columns: repeat(2, 1fr)

.error
  margin: 4rem 0 2rem
  font: normal 3rem var(--main-font)
  color: var(--color-white)

.btn
  margin-top: 2rem
